<div class="container">
  <h2 class="title">ジャンル編集</h2>

  <div class="genre-form-container">
    <%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
    <%= f.label :ジャンル名 %>
    <%= f.text_field :name, class: "genre-form" %>
    <%= f.submit '変更を保存', class: "button2" %>
  <% end %>
  </div>

</div>